.change {
  cursor: url(../img/mosu.cur), auto;
}
#Header-Content {
	position: absolute;
	display: block;
	width: 100%;
	top: 20px;
	left: 0px;
	z-index: 3;
}
#Header-Content .header-navigation {
	width: 100%;
	overflow: hidden;
}
#Header-Content .header-navigation .header-about a {
	float: left;
  	display: block;
	width: auto;
	padding-left: 40px;
	padding-right: 25px;
	color: #427352;
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 18px;
	text-decoration: none; 
}
#Header-Content .header-navigation .header-about a:hover {
	color: #808080;
}
#Header-Content .header-navigation .header-about a:after {
	border-bottom: solid 2px #808080;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}
#Header-Content .header-navigation .header-about a:hover::after {
	width: 100%;
}
#Header-Content .header-navigation .header-item a {
	float: left;
  	display: block;
	width: auto;
	padding-right: 25px;
	color: #427352;
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 19px;
	text-decoration: none; 
}
#Header-Content .header-navigation .header-item a:after {
	border-bottom: solid 2px #808080;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}
#Header-Content .header-navigation .header-item a:hover {
	color: #808080;
}
#Header-Content .header-navigation .header-item a:hover::after {
	width: 100%;
}
#Header-Content .header-navigation .header-contact a {
	float: left;
  	display: block;
	width: auto;
	padding-right: 25px;
	color: #427352;
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 19px;
	text-decoration: none; 
} 
#Header-Content .header-navigation .header-contact a:hover {
	color: #808080;
}
#Header-Content .header-navigation .header-contact a:after {
	border-bottom: solid 2px #808080;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}
#Header-Content .header-navigation .header-contact a:hover::after {
	width: 100%;
}
#Header-Content .header-navigation .header-access a {
	float: left;
  	display: block;
	width: auto;
	padding-right: 25px;
	color: #427352;
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 19px;
	text-decoration: none; 
}
#Header-Content .header-navigation .header-access a:hover {
	color: #808080;
} 
#Header-Content .header-navigation .header-access a:after {
	border-bottom: solid 2px #808080;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}
#Header-Content .header-navigation .header-access a:hover::after {
	width: 100%;
}
#Header-Content .header-navigation .header-cart a {
	float: right;
  	display: block;
	width: auto;
	padding-right: 40px;
	color: #427352;
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 19px;
	text-decoration: none; 
}
#Header-Content .header-navigation .header-cart a:hover {
	color: #808080;
}
#Header-Content .header-navigation .header-cart a:after {
	border-bottom: solid 2px #808080;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}
#Header-Content .header-navigation .header-cart a:hover::after {
	width: 100%;
}
#Header-Content .header-navigation .header-login a {
	float: right;
  	display: block;
	width: auto;
	padding-right: 25px;
	color: #427352;
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 19px;
	text-decoration: none; 
}
#Header-Content .header-navigation .header-login a:hover {
	color: #808080;
}
#Header-Content .header-navigation .header-login a:after {
	border-bottom: solid 2px #808080;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}
#Header-Content .header-navigation .header-login a:hover::after {
	width: 100%;
}
#Main-Content {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;  /*ここにheight: 100vhをしないとロゴとpのポジションがずれるのはなぜ？*/
	top: 0px;
	left: 0px;
	z-index: 2;
	box-sizing: border-box;
}
#Main-Content .blead-section {
}
#Main-Content .blead-section .logo-img {
	display: block;
	position: absolute;
	width: 26%;
	top: 29%;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
/*
#Main-Content .blead-section .flag-img {
	display: block;
	position: absolute;
	width: 17%;
	top: 77%;
	left: 12%;
}
*/
#Main-Content .blead-section p {
	display: block;
	position: absolute;
	width: auto;
	color: #427352;
	font-size: 17px;
	font-weight: 400;
    line-height: 153%;
	bottom: 40px;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.main_imgBox {
	width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}
.main_img {
	z-index:1;
	opacity: 0;
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	-webkit-animation: anime 18s 0s infinite;
	animation: anime 18s 0s infinite; 
}
.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s; }

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s; }

@keyframes anime {
  0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale(1.1) ;
         z-index:1;
    }
    100% { opacity: 0 }
}











#Main-Content #about-section {
	width: 100%;
	height: 3200px;
	background-color: #f8f9fb;
	text-align: center;	
}
#Main-Content #about-section .about-section-toptitle {
	display: inline-block;
	margin: 0px auto;
	padding: 160px 0px 100px;
	font-weight: lighter; 
	font-size: 21px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 1.6em;
}
#Main-Content #about-section .about-section-topinner {
	position: relative;
}
#Main-Content #about-section .about-section-topinner .about-section-img01 {
	display: block;
	width: 70vh;
	margin: 30px auto 90px;
}
#Main-Content #about-section .about-section-topinner p {
	font-weight: lighter; 
	font-size: 18px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 2em;
}
#Main-Content #about-section .about-section-bottomtitle{
	display: inline-block;
	margin: 0px auto;
	padding: 170px 0px 140px;
	font-weight: lighter; 
	font-size: 21px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 1.6em;
}
#Main-Content #about-section .about-section-bottominner {
	position: relative;
}
#Main-Content #about-section .about-section-bottominner .about-section-img02 {
	display: block;
	width: 70vh;
	margin: 0px auto 80px;
}
#Main-Content #about-section .about-section-bottominner p {
	font-weight: lighter; 
	font-size: 18px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 2em;
}
#Main-Content #about-section .about-section-button {
	display: block;
	width: 150px;
	margin: 80px auto;
	padding: 10px 0px;
	color: #000;
	font-size: 17px;
	letter-spacing: 0.2em;
	background-color: #f8f9fb;
	border: solid 1px #000;
	border-radius: 4px;
}
#Main-Content #about-section .about-section-button:hover {
	background: #ddd;
	border: solid 4px #ddd;
	color: #fff;
}
















#Main-Content #manue-section {
	position: relative;
	width: 100%;
	height: 1000px;
	background-color: #DAD1B9/*#EADEBC*/;
}
#Main-Content #manue-section h2 {
	padding-top: 75px;
	font-weight: lighter; 
	font-size: 25px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 1.6em;
	text-align: center;
}
#Main-Content #manue-section .manue-breadillust-right {
	position: absolute;
	width: 130px;
	top: 45px;
	right: 40%;
}
#Main-Content #manue-section .manue-breadillust-left {
	position: absolute;
	width: 130px;
	top: 45px;
	left: 40%;
	transform: rotateY(180deg);
}
#Main-Content #manue-section .manue-title-detail /*サブタイトル*/{
	width: 100%;
	margin: 26px 0px;
	font-weight: lighter; 
	font-size: 17px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 1.6em;
	text-align: center;
}
#Main-Content #manue-section .manue-section-inner /*ul*/ {  
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 320px;
	margin-bottom: 40px;
	justify-content: center;	
}
#Main-Content #manue-section .manue-section-inner .manue-contents /*li*/ {
	width: 20.5%;
	height: 320px;
	margin-top: 23px;
	margin-right: 70px;
}
#Main-Content #manue-section .manue-section-inner .manue-contents:nth-child(3) {
	margin-right: 0px;
}
#Main-Content #manue-section .manue-section-inner .manue-contents img {
	width: 100%;
	height: 78%;
}
#Main-Content #manue-section .manue-section-inner .manue-contents h3 {
	margin-top:  7px; 
	font-size: 16px;
	letter-spacing: 0.2em;
	line-height: 1.2em;
	text-align: center;
	color: #000;
}
#Main-Content #manue-section .manue-section-inner .manue-contents p {
	margin-top:  5px;
	font-size: 14px;
	font-weight: lighter; 
	letter-spacing: 0.2em;
	line-height: 1.2em;
	text-align: center;
	color: #000;
}
#Main-Content #manue-section .button {
	position: absolute;
	width: 130px;
	padding: 8px 0px;
	bottom: 2%;
	left: 50%;
	font-size: 17px;
	letter-spacing: 0.2em;
	background-color: #fff;
	border: solid 4px #fff;
	border-radius: 4px;
	transform: translateX(-50%);
}
#Main-Content #manue-section .button:hover {
	background: #ddd;
	border: solid 4px #ddd;
	color: #fff;
}
